.projects-section {
    padding: 4rem 2rem;
    text-align: center;
    min-height: 100vh;
    background-color: rgba(0, 153, 204, 0.12);
    color: #cfdce6;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background: rgba(42, 42, 42, 0.9);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: left;
}

.project-card:hover {
    transform: translateY(-8px);
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-content {
    padding: 1.5rem;
}

.project-content h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.short-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.project-links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.project-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #354b5e;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 600;
    transition: background 0.3s ease;
}

.project-links a:hover {
    background-color: #456478;
}

.icon {
    margin-right: 8px;
    font-size: 1.1rem;
}




.see-all-button {
    background-color: #0077b6;
    color: #ffffff;
    padding: 14px 32px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    margin-top: 5rem;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 119, 182, 0.3);
    transition: background-color 0.25s ease, box-shadow 0.25s ease, transform 0.2s ease;
    user-select: none;
}

.see-all-button:hover,
.see-all-button:focus {
    background-color: #005f86;
    box-shadow: 0 8px 16px rgba(0, 95, 134, 0.4);
    transform: translateY(-2px);
    outline: none;
}

.see-all-button:active {
    background-color: #004f6e;
    box-shadow: 0 4px 8px rgba(0, 79, 110, 0.4);
    transform: translateY(0);
}

@media (max-width: 480px) {
    .see-all-button {
        padding: 12px 24px;
        font-size: 1rem;
        margin-top: 3rem;
    }
}